{% extends "base.html" %}

{% block content %}
<iframe src="https://lichess.org/training/frame?theme=brown&bg=light" style="width: 400px; height: 444px; margin-top: 20px;" allowtransparency="true" frameborder="0"></iframe>
<iframe src="https://lichess.org/tv/frame?theme=brown&bg=light" align="right" style="width: 400px; height: 444px; margin-top: 20px;" allowtransparency="true" frameborder="0"></iframe>
<h1> <font color="white" size="12"> Записи в блоге </font> </h1>
{% for item in news%}

<div class="col-md6 border rounded" style="margin-top: 20px;">
    <div><font size="8.5" face="Arial">{{item.title}}</font></div>
    <div>
        {{item.content}}
    </div>
    {% if item.url != '' %}
        <div>
            Ссылка на партию: <a class="navbar-brand" href="{{item.url}}">{{item.url}}</a>
        </div>
    {% endif %}
    <div>
        Автор - {{item.user.name}}, Дата написания - {{item.created_date}}
    </div>
    {% if current_user.is_authenticated and current_user == item.user %}
    <div>
        <a href="/news/{{ item.id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/news_delete/{{ item.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
    {% endif %}
</div>
{% endfor %}
{% endblock %}